* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #E5E5E5;
}

.fixed {
  position: fixed;
  width: 100%;
  left: 0;
}

.flex {
  display: flex;
}

.top-bar {
  background-color: #CF2B2B;
  top: 0;
  padding: 10px 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
}

.top-bar h1 {
  font-family: Righteous;
  font-size: 44px;
  line-height: 48px;
  letter-spacing: -1.2%;
  color: white;
  margin-bottom: 5px;
}

.top-bar strong {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: white;
}

main {
  margin-top: 114px;
  margin-bottom: 118px;
  margin-left: 20px;
  margin-right: 20px;
}

.products header {
  margin-bottom: 10px;
}

.products h2 {
  font-family: Righteous;
  font-size: 26px;
  line-height: 32px;
}

.products ul {
  overflow-x: scroll;
  flex-flow: nowrap row;
}

.products .product {
  display: block;
  background-color: white;
  padding: 15px;
  border-radius: 9px;
  box-shadow: 0 0 10px -4px rgba(0, 0, 0, .25);
}

.products .product img {
  display: inherit;
  object-fit: cover;
  width: 172px;
}

.products .product strong,
.products .product p {
  display: block;
  margin-top: 5px;
}

.products .product strong {
  font-size: 16px;
  line-height: 19px;
}

/* Weight for the price */
.products .product strong:last-child {
  font-weight: 400;
}

.products .product p {
  color: #A6A6A6;
  font-size: 15px;
  line-height: 18px;
}

.product + .product {
  margin-left: 20px;
}
.products + .products {
  margin-top: 20px;
}

.bottom-bar {
  background-color: white;
  bottom: 0;
  padding: 15px 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
}

.bottom-bar button {
  display: block;
  width: 100%;
  padding: 10px 0;
  background-color: #CBCBCB;
  border: none;
  border-radius: 50px;
}

.bottom-bar span {
  display: inherit;
  font-size: 20px;
  line-height: 24px;
  width: 220px;
  margin: 0 auto;
  color: white;
}